@media (max-width: 760px)
{
    #divEmptyStateOne, #divEmptyStateFour
    {
        width: 30rem;
    }
}

@media (max-width: 576px)
{
    #divEmptyStateOne, #divEmptyStateFour
    {
        width: 23rem;
    }
}
@media (min-width:761px)
{
    #divEmptyStateOne, #divEmptyStateFour
    {
        width: 35rem;
    }    
}

#divEmptyStateTwo, #divEmptyStateThree
{
    width: 23rem;
}
@media (max-width:992px)
{    
    #divEmptyStateTwo, #divEmptyStateThree
    {
    width: 19rem;
    }
} 
@media (max-width:768px)
{
    #divEmptyStateTwo, #divEmptyStateThree
    {
    width: 17rem;
    }
    #imgEmptyStateTwo, #imgEmptyStateThree
    {
        height: 10rem;        
    }
}
@media(max-width:494px)
{    
    #divEmptyStateTwo, #divEmptyStateThree
    {
    width: 14rem;
    }
}
#threedot-icon
{
    width: 1.7rem;        
    background-color: #F8F9FA;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    float: right;
}
#threedot-icon:hover
{
    filter: brightness(0.9);
    cursor: pointer;
}

.dropdownmenu
{
    position:absolute; 
    top: 3rem;
    right: 1rem;
    width: 150px;
    background-color: #F8F9FA;
    border: solid #B2BEC3;
    border-width: thin;
    border-radius: 5px ;
    transition: background 5s;
    padding: .3rem;
    overflow: hidden;    
}
.menu-item
{
    height: 50px;
    display:flex;
    align-items: center;
    border-radius: 4px;
    transition: background 1s;
    padding: 0.5;      
}
.menu-item:hover
{    
    cursor: pointer;
    background-color: #B2BEC3;
 
}
#img-test
{
    width: 2rem;        
    background-color: #DFE6E9;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;    
}