body
      {
          background-color:#F4F5FA;
          overflow-x:hidden;
      }
      ::-webkit-scrollbar
      {      
        width: .6rem;
      }      
      ::-webkit-scrollbar-track
      {    
        border-radius: 100vw;
        margin-block: 0.3em;
      }
      ::-webkit-scrollbar-thumb
      {
        background-color:#585757;        
        border-radius: 100vw;             
      }
      ::-webkit-scrollbar-thumb:hover
      {
        background-color:#909090;
      }